# View Test Results

Once you run an automated tests, you will be able to view the test result on the [App Automate dashboard](https://app-automate.browserstack.com/dashboard) under your builds.



![](https://github.com/akanksha260991/bs_docs_revamp_content/blob/master/Screenshot%202019-08-31%20at%2012.45.14%20AM.png?raw=true)


Dashboard also allows you to drill down to the details of a specific test. In Class/Test details view you will have access to all the tests information, and debugging capabilities like, Video, Instrumentation logs and Device logs.


![Test Details Page](https://github.com/akanksha260991/bs_docs_revamp_content/blob/master/Screenshot%202019-08-31%20at%2012.53.55%20AM.png?raw=true)
